.card {
    border-radius: 12px;
    background-color: #fff;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border: 0.25px solid #1E1E1E;
    cursor: pointer;
  }
  
  .image {
    width: 100%;
    aspect-ratio: 1.27;
    object-fit: cover;
    border-radius: 12px 12px 0 0;

  }
  
  .content {
    padding: 30px 80px 47px 30px;
  }
  
  .category {
    display: flex;
    gap: 13px;
    align-items: center;
  }
  
  .iconWrapper {
    width: 30px;
    height: 30px;
    border-radius: 8px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .icon {
    width: 20px;
    aspect-ratio: 0.95;
    object-fit: contain;
    border: 0.25px solid #AAAAAA;
    padding: 5px;
    border-radius: 10px;
  }
  
  .categoryText {
    color: #000;
    font: 500 12px Manrope, sans-serif;
  }
  
  .title {
    color: #000;
    font: 400 26px Russo One, sans-serif;
    margin: 22px 0 9px;
  }
  
  .description {
    color: #000;
    font: 400 16px Manrope, sans-serif;
    margin: 0;
  }
  
  @media (max-width: 991px) {
    .content {
      padding: 0 20px;
    }

    .title {
      font-size: 24px;
      margin: 15px 0 9px;
    }

    .icon {
      width: 16px;
    }

    .categoryText {
      font-size: 10px;
    }

    .category {
      margin-top: 20px;
    }

    .description {
      font-size: 12px;
      margin-bottom: 20px;
    }
  }