.card {
  border-radius: 12px;
  background-color: #fff;
  overflow: hidden; /* Ensures the image stays within the card */
  display: flex;
  flex-direction: column;
  border: 0.25px solid #1E1E1E;
  cursor: pointer;
  z-index: 1; 
}

.card:hover .image {
  transform: scale(1.1); /* Scales the image uniformly in all directions */
  transition: transform 0.3s ease-in; /* Adds smooth ease-in animation */
}

.image {
  width: 100%;
  aspect-ratio: 1.27;
  object-fit: cover;
  border-radius: 12px 12px 0 0;
  transition: transform 0.1s ease-in; /* Ensures smooth return to original size */
}

.imageBox {
  height: 300px;
  overflow: hidden;
}
  
  .content {
    padding: 30px 80px 47px 30px;
  }
  
  .category {
    display: flex;
    gap: 13px;
    align-items: center;
  }
  
  .iconWrapper {
    width: 30px;
    height: 30px;
    border-radius: 8px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .icon {
    width: 20px;
    aspect-ratio: 0.95;
    object-fit: contain;
    border: 0.25px solid #AAAAAA;
    padding: 5px;
    border-radius: 10px;
  }
  
  .categoryText {
    color: #000;
    font: 500 12px Manrope, sans-serif;
  }
  
  .title {
    color: #000;
    font: 400 26px Russo One, sans-serif;
    margin: 22px 0 9px;
    display: -webkit-box; /* Enables multi-line truncation */
    -webkit-line-clamp: 2; /* Limits to 2 lines */
    -webkit-box-orient: vertical; /* Specifies box orientation */
    overflow: hidden; /* Ensures the overflowing text is hidden */
    text-overflow: ellipsis; /* Adds ellipsis to truncated text */
  }  
  
  .description {
    color: #000;
    font: 400 16px Manrope, sans-serif;
    margin: 0;
    display: -webkit-box; /* Enables multi-line truncation */
    -webkit-line-clamp: 3; /* Limits to 3 lines */
    -webkit-box-orient: vertical; /* Specifies box orientation */
    overflow: hidden; /* Ensures the overflowing text is hidden */
    text-overflow: ellipsis; /* Adds ellipsis to truncated text */
  }
  
  @media (max-width: 991px) {
    .content {
      padding: 0 20px;
    }

    .imageBox {
      height: 250px;
      overflow: hidden;
    }

    .title {
      font-size: 24px;
      margin: 15px 0 9px;
    }

    .icon {
      width: 16px;
    }

    .categoryText {
      font-size: 10px;
    }

    .category {
      margin-top: 20px;
    }

    .description {
      font-size: 12px;
      margin-bottom: 24px;
    }
  }