@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Russo+One&display=swap');

.card {
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 40px 80px 40px 25px;
    color: #fff;
    cursor: pointer;
  }
  
  
  .title {
    font: 24px Russo One, sans-serif;
    margin: 0;
  }
  
  .icon {
    width: 56px;
    aspect-ratio: 1;
    object-fit: contain;
    margin: 70px 0 7px;
  }
  
  .description {
    font: 14px Manrope, sans-serif;
    margin: 0;
    margin-top: 10px;
  }
  
  @media (max-width: 991px) {
    .card {
      padding: 15px 5px;
    }

    .card img {
      display: none;
    }
  
    .icon {
      margin-top: 40px;
    }
  
    .title,
    .description {
      margin-left: 8px;
    }

    .description {
      margin-top: 27%;
      font-size: 8px;
    }

    .title {
      font-size: 12px;
    }
  }