.card {
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 40px 80px 40px 25px;
  color: #fff;
  cursor: pointer;
  transition: transform 0.2s ease-in-out; /* Add a smooth scale effect */
}

.whiteBox {
  display: none;
  padding: 5px;
  height: 7px;
  width: 7px;
  background-color: white;
  margin-right: 0px;
  transition: opacity 0.3s ease-in-out; /* Smoothly fade in the white box */
}

.card:hover .whiteBox {
  display: block;
  opacity: 1; /* Ensure smooth fade-in */
}

.title {
  font: 24px Russo One, sans-serif;
  margin: 0;
  opacity: 1; /* Visible by default */
  transform: translateX(0); /* Default position */
  transition: transform 0.3s ease-in-out; /* Smooth animation for position */
}

.card:hover .title {
  transform: translateX(10px); /* Slightly shift right on hover */
}

.icon {
  width: 56px;
  aspect-ratio: 1;
  object-fit: contain;
  margin: 70px 0 7px;
}

.description {
  font: 14px Manrope, sans-serif;
  margin: 0;
  margin-top: 10px;
}

@media (max-width: 991px) {
  .card {
    padding: 15px 5px;
  }

  .card img {
    display: none;
  }

  .icon {
    margin-top: 40px;
  }

  .title,
  .description {
    margin-left: 8px;
  }

  .description {
    margin-top: 27%;
    font-size: 8px;
  }

  .title {
    font-size: 12px;
  }
}
