.categoryLink {
    display: flex;
    gap: 6px;
    align-items: center;
  }

  .categoryLink.active {
    font-weight: bold; /* Or any other style */
  }

  .title.bold {
    font-weight: bold;
  }
  
  .title {
    flex-grow: 1;
    font: 400 16px Manrope, sans-serif;
    color: rgba(0, 0, 0, 1);
    cursor: pointer;
    min-width: 200px;
  }

  .title:hover {
    font-weight: bold;
  }
  
  .icon {
    width: 24px;
    aspect-ratio: 1.04;
    object-fit: contain;
  }