.categoryLink {
    display: flex;
    gap: 6px;
    align-items: center;
  }
  
  .title {
    flex-grow: 1;
    font: 400 16px Manrope, sans-serif;
    color: rgba(0, 0, 0, 1);
    cursor: pointer;
  }
  
  .icon {
    width: 24px;
    aspect-ratio: 1.04;
    object-fit: contain;
  }